/* 
You DO need to worry about the css attributes below.
*/

.blog_text_container {
	/* Add styles here */
    padding: 20px;
}

.blog_head_container {
	/* Add styles here */
    padding-bottom: 10px; 
}



#navbar_items li {
	/* Add styles here */
    margin: 0px 10px;
    float: right;

}
#navbar_title li {
    /* Add styles here */
    font-size:x-large;
    margin: 0px 10px;
    float: left;
}


#title_container {
	/* Add styles here */
    margin: 20px 10px; 
    text-align: center; 
}

#follow_button {
	/* Add styles here */
}

#container {
	
}

#page_header {
	font-size: 46px;
	text-align: center;
}

.blog_container {
	width: 460px;
	box-sizing: border-box;
	float: left;
	background-color: white;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	/* Add styles here */
    margin: 10px; 
}

.blog_header {
	color: #1a1a1a;
	font-weight: 400;
	font-size: 30px;
}

.blog_subtitle {
	color: #949799;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .025em;
}

.blog_paragraph {
	font-size: 16px;
	font-weight: 400;
	color: #666;
}

/* 
You DON'T need to worry about the css attributes below.
*/
body, html {
	margin: 0;
	font-family: Lato;
	background-color: rgb(255,212,84);
	-webkit-font-smoothing: antialiased;
}
.img_scaled_wh {
	width: 100%;
	height: 276px;
	display: block;
	object-fit: cover;
}
.clear {
	clear: both;
}
p {
	margin: 0;
}
h4, h1 {
	margin: 0;
	color: #1a1a1a;
	font-weight: 300;
}
input {
	float: left;
}
ul {
	list-style: none;
	margin: 0;
}


#navbar {
    width:12%;
	
	color: black;
	font-size: 3.5em;
	letter-spacing: .025em;
	font-weight: 400;
    padding-left: 5%;
	
   
    display: inline-block;
}
#search_bar {
	height: 35px;
	width: 10em;
	opacity: 0.3;
	background-color: #505959;
    color:white;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 25px;
	float: left;
	position: absolute;
	left: 50%;
	margin-left: -150px;
    font-size: 1.5em;
}



#title {
	position:fixed;
    width: 100%;
    z-index: 10;
    border-bottom: 1px black solid;
    background-color: rgba(255,212,84,.95);
   
}

#subtitle {
	font-size: 25px;
}
#follow_button { 
       padding: 10px 80px; 
       font-size: 24px; 
       background-color: #78909C; 
       border: none; 
       color: white; 
       margin: 20px; 
       cursor: pointer; 
}

#nav_stuff {
    display:inline-block;
    position: absolute;
    left: 35%;
    padding-top: 9px;
}

#nav_list li {
    display: inline;
list-style-type: none;
padding-right: 20px;
    
}

#outer_list {
    position: absolute;
    display: inline-block;
    padding-top: 20px;
    left:50%;
    

}

#main {
    
    
}

#side_list {
    display: inline-block; 
    padding-left: 5%;
    
    
    
}

#results {
    display: inline-block;
    position: absolute;
    margin-left: 2em;
    margin-bottom: 2em;
    
    
}

#list_box {
   
    height:3em;
    width:10em;
    text-align: left;
    border-right: 1px black solid;
    
    line-height: 3em;
}
#list_box:hover {
    color: black;
    cursor: pointer;
    border: 1px solid black;
}


#results_bar {
    position: relative;
    width:90%;
    left:5%;
    
    padding-top: 5em;
    
}

#title_results {
    font-size: 1.5em;
    margin-left: 2em;
    margin-bottom: 1em;
    margin-top: 0px;
    padding-top: 0px;
    
}

#result_box {
    
    height:5em;
    width:57em;
    
    line-height: 3em;
    line-height: 4em;

    
}
#result_box:hover {
    color: black;
    cursor: pointer;
    border: 1px solid black;
}

#result_list {
    display: inline-block;
    
   
    left: 200px;
}



#temp {
    display: inline-block;
   
}

.nav-hover:hover {
    color: black;
    cursor: pointer;
}

.nav-hover{
    color: dimgray;
}

.image-box {
    float: left; height:4em; padding-top: .5em; width: 4em; height: 4em; padding-left: .5em;
}

.title-block {
    position: relative;
    font-size: 3em;
    left: 20%;
}

.result-description {
    position: relative;
    left: 2em;
}

.light-text {
    color: darkslategrey;
    margin-left: 2em;
}

#trailers {
    margin-top: 5em;
    position: relative;
    
    padding-left: 5%;
    
}

.table-head {
    
    font-size: 2em;
}

.preview-images {
    width: 29vw;
    height: 20vh;
    object-fit: cover;
    margin: .5vw;
    position: relative;
    
    
    
}

.play-button {
    height: 50px;
	width: 50px;
	opacity: 0.8;
	cursor: pointer;
	filter: invert(100%);
    position: absolute;
    z-index: 10;
    
    left: 13vw;
    top: 8vh;
    
    
    
}



.td-thing {
    width: 29vw;
    height: 20vh;
    margin: .5vw;
    position: relative;
}

.preview-text {
    color: white;
    
    font-size: 1em;
    position: absolute;
    z-index: 10;
    left: 2vw;
    top: 18vh;
    
}
